@model DarjeelingClubApp.Areas.Admin.Models.ReminderModel



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Darjeeling Gymkhana Club Ltd. - First Reminder</title>

    <style>
        @@import url('https://fonts.cdnfonts.com/css/mv-boli');
        @@import url('https://fonts.cdnfonts.com/css/stencil');

        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            padding: 20px;
            max-width: 800px;
            margin-left: auto;
            margin-right: auto;
            line-height: 1.5;
        }

        .header {
            text-align: center;
            margin-bottom: 20px;
        }

            .header img {
                width: 100px;
                height: auto;
            }

            .header h1 {
                margin: 0;
                font-size: 34px;
                text-transform: uppercase;
            }

        .contact-info {
            font-size: 12px;
            text-align: right;
            margin-top: 10px;
        }

        .ref-date {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            font-size: 12px;
        }

        .title {
            text-align: center;
            font-weight: bold;
            font-size: 18px;
            margin-bottom: 20px;
        }

        .to-address {
            font-family: 'MV Boli', sans-serif;
            margin-bottom: 20px;
        }

        .content {
            margin-bottom: 20px;
        }

        .bank-details {
            margin-bottom: 20px;
        }

            .bank-details ul {
                list-style-type: none;
                padding-left: 0;
            }

        .qr-code {
            float: right;
            width: 150px;
            height: auto;
            margin-left: 20px;
        }

        h1 {
            font-family: 'Stencil', sans-serif;
        }

        .footer {
            clear: both;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="header">
        <img src="https://darjeelinggymkhanaclub.com/wp-content/uploads/2022/03/gymkhana-new-logo-150x150.png" style="position: relative;margin: 0px 0px -106px -687px;" alt="Darjeeling Gymkhana Club Logo">
        <h1>DARJEELING GYMKHANA CLUB LTD.</h1>
        <div class="contact-info">
            Ph. No: 2254342/2252892<br>
            E-Mail: darjeelinggymkhanaclub1909@yahoo.com<br>
            Website: darjeelinggymkhanaclub.com<br>
            CIN: U9190WB1909GAP001895
        </div>
    </div>

    <div class="ref-date">
        <span>Ref. No: @Model.refno</span>
        <span>Dt: @DateTime.Now.ToString("dd-MMMM-yyyy")</span>
    </div>

    <div class="title" style="text-decoration: underline;">SECOND REMINDER</div>

    <div class="to-address">
        To,<br>
        @Model.MemberId: @Model.MemberName<br>
        @Model.address<br />
        TEL. 8967682909
    </div>

    <div class="content">
        Dear Sir/Madam,<br><br>
        This is in reference to Final Reminder letter no. ……………@Model.lastrefno……… Dt ……@Model.thirddate……………… . You have failed to clear your dues by the stipulated date ……………@Model.stipulated……….
        Hence, this is to notify you that your membership has been terminated from the membership register of the<br />
        club w.e.f. ………………@Model.stipulated………………………. .<br />
        This is for your kind information.


    </div>

   

    <div class="footer">

        Thanking you<br />
        Sincerely yours,<br />
        Pintoo Agarwal<br />
        Hony. Secretary

    </div>
</body>
</html>
