@model ClubApp.Models.MyaccDetails
@{
    ViewData["Title"] = "MyAccount";
    Layout =null;
}

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no, viewport-fit=cover">

    <link rel="apple-touch-icon" href="/img/f7-icon-square.html">
    <link rel="icon" href="/img/f7-icon.html">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/vendor/bootstrap-4.1.3/css/bootstrap.min.css">

    <!-- Material design icons CSS -->
    <link rel="stylesheet" href="/vendor/materializeicon/material-icons.css">

    <!-- swiper carousel CSS -->
    <link rel="stylesheet" href="/vendor/swiper/css/swiper.min.css">

    <!-- app CSS -->
    <link id="theme" rel="stylesheet" href="/css/style.css" type="text/css">


    <title>Membership Number</title>
    <style type="text/css">
        .jqstooltip {
            position: absolute;
            left: 0px;
            top: 0px;
            visibility: hidden;
            background: rgb(0, 0, 0) transparent;
            background-color: rgba(0,0,0,0.6);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
            color: white;
            font: 10px arial, san serif;
            text-align: left;
            white-space: nowrap;
            padding: 5px;
            border: 1px solid white;
            z-index: 10000;
        }

        .jqsfield {
            color: white;
            font: 10px arial, san serif;
            text-align: left;
        }
    </style>
</head>

<body class="color-theme-blue">
    <div class="wrapper">
        <!-- page main start -->
        <div class="page">
            <div class="page-content h-100">
                <div class="page-content">
                    <div class="content-sticky-footer pt-2">

                        <div class="col-12 mb-4">
                            <div class="row">
                                <div class="col-12"><a href="/Common/login" class="menu-left-close inner_back block-title"><i class="material-icons">keyboard_arrow_left</i></a><h2 class="block-title inner_title title_top">My Account</h2></div>
                            </div>
                        </div>
                        <div class="row mx-0 ">
                            <div class="col">
                                <div id="accordion">
                                    <div class="card mb-1 border-0 rounded-0">
                                        <div class="col-12">
                                            <div class="row tap_data" id="myDIV">
                                                <div class="col-4">
                                                    <a href="#" class="collapsed card-header py-2 btn active" id="headingOne"  data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    <div >
                                                        </div> My Details
                                                    </a>
                                                </div>

                                                <div class="col-4">
                                                    
                                                        <a href="#" class="collapsed card-header py-2 btn" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">

                                                        <div>
                                                        </div> Spouse
                                                        </a>
                                                    
                                                </div>

                                                <div class="col-4">
                                                    
                                                        <a href="#" class="collapsed card-header py-2 btn" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                          
                                                            <div>
                                                            </div> Dependents
                                                        </a>
                                                    
                                                </div>
                                            </div>
                                        </div>





                                        <!-- profile-data -->
                                        <br>
                                        <div id="collapseOne" class="collapse show mt-2" data-parent="#accordion" style="">
                                            <div class="card-img">
                                                <img src="/member/img/photo/@Model.PHOTO" style="border-radius:50%;">
                                                <h3 class="profile_name">@Model.Name</h3>
                                            </div>
                                            <br>

                                            <div class="card-body">
                                                <a href="">
                                                    <img src="/img/a5.jpg">
                                                    @Model.memid
                                                </a>
                                            </div>
                                            <div class="card-body">
                                                <a href="">
                                                    <img src="/img/a1.jpg">
                                                    @(Convert.ToDateTime(Model.Dob).ToShortDateString())
                                                </a>
                                            </div>
                                            <div class="card-body">
                                                <a href="">
                                                    <img src="/img/a2.jpg">
                                                    @Model.phone
                                                </a>
                                            </div>
                                            <div class="card-body">
                                                <a href="">
                                                    <img src="/img/a3.jpg">
                                                   @Model.email
                                                </a>
                                            </div>
                                            <div class="card-body">
                                                <a href="">
                                                    <img src="/img/a4.jpg">
                                                    @Model.address
                                                </a>
                                            </div>
                                        </div>

                                        <div id="collapseTwo" class="collapse" data-parent="#accordion" style="">
                                            <div class="card-img">
                                                <img src="/member/img/photo/@Model.Spouse.PHOTO" style="border-radius:50%;">
                                            </div>
                                            <br>

                                            <div class="card-body">
                                                <a href="">
                                                    <img src="/img/a5.jpg">
                                                    @Model.Spouse.SpouseIdNo
                                                </a>
                                            </div>
                                            <div class="card-body">
                                                <a href="">
                                                    <img src="/img/a6.jpg">
                                                    @Model.Spouse.spouseName
                                                </a>
                                            </div>
                                            <div class="card-body">
                                                <a href="">
                                                    <img src="/img/a7.jpg">
                                                    @(Convert.ToDateTime(Model.Spouse.dob).ToShortDateString())
                                                </a>
                                            </div>
                                            <div class="card-body">
                                                <a href="">
                                                    <img src="/img/a8.jpg">
                                                    Anniversary - <span> @(Convert.ToDateTime(Model.Spouse.MariageAniversary).ToShortDateString())</span>
                                                </a>
                                            </div>
                                        </div>

                                        <div id="collapseThree" class="collapse" data-parent="#accordion" style="">
                                            <div class="card-bodys">
                                               @* <img src="/img/no-data.png">*@
                                                <div class="dis">
                                                    <div class="col-12">
                                                        @foreach(var dep in Model.depdetails)
                                                        {
                                                            <div class="diss">
                                                            <div class="card">
                                                                <div class="card-bodya">
                                                                    <a href="#" class="media">
                                                                        <div class="media-body">
                                                                            <p>Name</p>
                                                                            <h5>@dep.depenName</h5>
                                                                        </div>
                                                                        <div class="media-body">
                                                                            <p>Gender</p>
                                                                            <h5>@dep.gender</h5>
                                                                        </div>
                                                                    </a>
                                                                </div>
                                                                <div class="card-footer">
                                                                    <div class="row">
                                                                        <div class="media-body mains">
                                                                            <p>Date of birth</p>
                                                                            <h5>@(Convert.ToDateTime(dep.dob).ToShortDateString())</h5>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        }
                                                       
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                             
                            </div>
                        </div>

                    </div>
                </div>

                <br>

            </div>

        </div>
        <!-- page main ends -->

    </div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/vendor/bootstrap-4.1.3/js/bootstrap.min.js"></script>

    <!-- Cookie jquery file -->
    <script src="/vendor/cookie/jquery.cookie.js"></script>

    <!-- sparklines chart jquery file -->
    <script src="/vendor/sparklines/jquery.sparkline.min.js"></script>

    <!-- Circular progress gauge jquery file -->
    <script src="/vendor/circle-progress/circle-progress.min.js"></script>

    <!-- Swiper carousel jquery file -->
    <script src="/vendor/swiper/js/swiper.min.js"></script>

    <!-- Application main common jquery file -->
    <script src="/js/main.js"></script>

    <!-- page specific script -->



    <script type="text/javascript">// Get the container element
var btnContainer = document.getElementById("myDIV");

// Get all buttons with class="btn" inside the container
var btns = btnContainer.getElementsByClassName("btn");

// Loop through the buttons and add the active class to the current/clicked button
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function() {
    var current = document.getElementsByClassName("active");
    current[0].className = current[0].className.replace(" active", "");
    this.className += " active";
  });
}</script>



</body>
</html>
<script src="@Url.Content("~/js/Common.js")"></script>
<script>
    $(document).ready(function(){
        //getdetatils();
    })

    //function getdetatils(){
    //    //alert($("#memid").val());
    //        var url = '/Common/commonMethod';
    //        var data = {MEMBERSHIPNO:'A-0085',type:1,"type":3}
    //        MyAccounts(url, JSON.stringify(data), "", "", "");
    //}
       
            
       





</script>


